/* Sección de la cortina cuando se carga la página */
*,*:after, *:before{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#courtainContainer{
  margin: 0;
  padding: 0;
  background-color: #2B2B2B;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  z-index: 10000;
}

/* Diseño del html */
body {
  background-color:#2B2B2B; 
}

h1, h3 {
  color: #E88A33;
}

/* Sección mapa */
#map {
  border-radius: 5px;
  height: 30vh;
  width:45vh;  
}

/* Sección carrusel */
#imagenes {
  height: 30vh;
  width: 49vh;
}

@media (min-width: 700px) {  
  #map {
    border-radius: 5px;
    height: 50vh;
    width:700px;  
  }

  #imagenes {
    height: 30vh;
    width: 700px;
  }
}

@media (min-width: 1000px) {
  #map {
    border-radius: 5px;
    height: 50vh;
    width:1000px;  
  }

  #imagenes {
    height: 30vh;
    width: 1000px;
  }
}

@media (min-width: 1200px) {
  #map {
    border-radius: 5px;
    height: 50vh;
    width:1200px;  
  }

  #imagenes {
    height: 30vh;
    width: 1200px;
  }
}